{{define "subject"}}Reset your password{{end}}

{{define "plainBody"}}
Hi,

Please send a request to the `PUT /v1/users/password` endpoint with the following JSON
body to reset your password for your account:

{
"token": "{{.Plaintext}}",
"newPassword": "your new password"
}

Please note that this is a one-time use token and it will expire in 1 hour.

Thanks,

The Greenlight Team
{{end}}

{{define "htmlBody"}}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>Hi,</p>
    <p>Please send a request to the `PUT /v1/users/password` endpoint with the following JSON body to reset your
        password for your account
        account:</p>
    <pre><code>
        {
            "token": "{{.Plaintext}}",
            "newPassword": "your new password"
        }
    </code></pre>
    <p>Please note that this is a one-time use token and it will expire in 1 hour.</p>
    <p>Thanks,</p>
    <p>The Greenlight Team</p>
</body>

</html>
{{end}}